<p id="notice"><%= notice %></p>

<p>
  <strong>Co2 usage:</strong>
  <%= @record.co2_usage %>
</p>

<p>
  <strong>Kv usage:</strong>
  <%= @record.kv_usage %>
</p>

<p>
  <strong>Kw usage:</strong>
  <%= @record.kw_usage %>
</p>

<p>
  <strong>Gas usage:</strong>
  <%= @record.gas_usage %>
</p>

<p>
  <strong>Gen usage:</strong>
  <%= @record.gen_usage %>
</p>

<p>
  <strong>Sanitary discharge:</strong>
  <%= @record.sanitary_discharge %>
</p>

<p>
  <strong>Sewage discharge:</strong>
  <%= @record.sewage_discharge %>
</p>

<p>
  <strong>Water usage:</strong>
  <%= @record.water_usage %>
</p>

<p>
  <strong>Co2 reading:</strong>
  <%= @record.co2_reading %>
</p>

<p>
  <strong>Kv reading:</strong>
  <%= @record.kv_reading %>
</p>

<p>
  <strong>Kw reading:</strong>
  <%= @record.kw_reading %>
</p>

<p>
  <strong>Gas reading:</strong>
  <%= @record.gas_reading %>
</p>

<p>
  <strong>Gen reading:</strong>
  <%= @record.gen_reading %>
</p>

<p>
  <strong>Water reading:</strong>
  <%= @record.water_reading %>
</p>

<p>
  <strong>Sanitary reading:</strong>
  <%= @record.sanitary_reading %>
</p>

<p>
  <strong>Gas mmbtu:</strong>
  <%= @record.gas_mmbtu %>
</p>

<p>
  <strong>Gen mmbtu:</strong>
  <%= @record.gen_mmbtu %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
